

* {
    font-family: Jetbrains Mono Nerd Font, monospace;
    font-size: 15px;
}
	


window#waybar { 
    background-color: #052c4f; 
    color: #ffffff;    
}


.modules-left {
	background-color: #A52A2A;
	padding: 0px 0px 0px 0px;
}


.modules-right {
	/*background-color: #ff9c00;
	background-color: #b25500;*/
	background-color: #1d4160;
	padding: 0px 0px 0px 0px;
}


#custom-scratch {
	background-color: #323232;
	color: #b8b8b8;
	padding: 0px 9px 0px 9px;
}


#workspaces {
}


#workspaces button {
	padding: 0px 0px 0px 0px; 
 	min-width: 1px;
	background-color: #A52A2A;
	color: #ffffff;
}


#workspaces button.focused { 
	padding: 0px 0px 0px 0px; 
	background-color: #285577;
	color: #ffffff;
}


#mode { 
	 background-color: #900000;
	 color: #ffffff;
     padding: 0px 5px 0px 5px;
     border: 1px solid #2f343a;
}


#window {
	 color: #ffffff;
	 background-color: #052c4f;
     padding: 0px 10px 0px 10px;
}


window#waybar.empty #window {
	background-color: #052c4f;
	color: transparent;
}


window#waybar.empty {
	background-color: #052c4f;
}


#network, #temperature, #backlight, #pulseudio, #battery #clock{
    padding: 0px 0px 0px 0px;
}
    

/*#clock {
	margin: 0px 15px 0px 15px;
}*/


#tray{
   padding: 0px 8px 0px 5px;
   margin: 0px 5px 0px 5px;
}


#battery.critical {
   color: #ff5555;
}


#network.disconnected {
    color: #ff5555;
}



